
.footer{
    margin: 0;
    
    width: 100%;
    font-size: 1em;
    padding: 10px;
    background-color:#000;
    bottom:0;
    position: absolute;
    color:#FFF;
   
    
    height: 15vh;
    ul{
        
        justify-content: space-around;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        margin:0;
        padding: 0;
        height: 100%;
    }
   
}
.contacts{
    
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color:#FFF;
    list-style-type: none;
    text-align: center;
    
}

.contactssvg{
    width:1em;
    height:1em;
    
    fill:currentColor;
    margin-right: 2px;
    vertical-align: middle;
    
    
}
.link{
    text-decoration: none;
    color:#FFF;
}


#icon1,
#icon0,
#icon2{
    transition: 0.3s;
}
#icon2-h:hover #icon2{
    transform: rotate(30deg);
    color:rgb(221, 97, 14);
    
}
#icon1-h:hover #icon1{
    transform: rotate(30deg);
    color:rgb(221, 97, 14);
    
}
#icon0-h:hover #icon0{
    transform: rotate(30deg);
    color:rgb(221, 97, 14);
    
}

