@media (min-width: 800px){
    .footer{

        padding: 10px 5vw;
        ul{
            flex-direction: row;
            
        }

    }
    
    
   
}
@media (min-width: 600px){
    .image, .description{
        
        width: 50%;
        height: 100%;
        padding: 0;
    }
    .slidercontrol{
        display: flex;
    }
    .footer{
        font-size:1.5em;
    }
    .content{
        flex-direction: row;

    }
    .description{
        p{
            text-align: start;
    
        }
    }
}