*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    margin:0;
    padding:0;
    
    background-color: black;
    text-shadow: black 0.1em 0.1em 0.2em;
    
    overflow:hidden;
    color:#FFF;
}
.container{
    justify-content: center;
    height:90vh;
    display: flex;
    
}

.content{
    margin:0;
    
    height: 85vh;
    width: 100%;
    position: relative;
    align-items: center;
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    padding: 3vw;
    box-shadow: inset 10px 10px 151px 0px rgba(0,0,0,0.75);

    
}
.description{
    
    text-align: right;
    float: right;
    
    
}
.image {
    
    
    

}
ul{
    justify-content: space-around;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    height: 100%;
}

.footer{
    margin: 0;
    
    width: 100%;
    font-size: 1em;
    padding: 10px;
    background-color:#000;
    bottom:0;
    position: absolute;
    color:#FFF;
   
    
    height: 15vh;
   
}

.dsc{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2.5em;
}

.sbutton
{
    background-color: transparent;
    position: absolute;
    display: block;
    top: 50%;
    transform:translateY(-50%);
    outline: none;
    width:10vh;
    height: 10vh;
    opacity:0.2;
    border: none;
    will-change: opacity;
    transition: opacity 0.3s;
}

.rightbutton
{
    right:2%;
}


.leftbutton{
    left:2%;

}
.sbutton:hover{
    opacity:1;
}
.slidercontrol{
    position: absolute;
    display: flex;
    bottom: 5%;
    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 100%;;
    left: 0;
}

.radio:not(:last-child){
    margin-right: 30px;
}
.radio{
    opacity:0.2;
    transition: opacity 0.3s;
    
}
.radio:before{
    content: " ";
    position:relative;
    top:0;
    left:0;
    display: block;
    height: 1em;
    width: 1em;
    background-color: white;
    border-radius: 20px;
}
.radio:checked{
    opacity:1;
    
}



.image,
.description
{
    justify-content: space-around;
    height: auto;
    width: 100%;
    display: flex;
    padding: 0;
    margin:0;
}
.binder{
    inline-size: -webkit-fill-available;
    position: relative;
    
}
.contacts{
    
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color:#FFF;
    list-style-type: none;
    text-align: center;
    
}

    
.contactssvg{
    width:1em;
    height:1em;
    
    fill:currentColor;
    margin-right: 2px;
    vertical-align: middle;
    
    
}
.link{
    text-decoration: none;
    color:#FFF;
}

@media (min-width: 800px){
    .footer{
        
       
        padding: 10px 5vw;
        
        
        
        
    }
    ul{
        flex-direction: row;
        
    }
    .content{
        padding: 10vw;
    }
}
@media (min-width: 600px){
    .image, .description{
        display: inline-flex;
        width: 50%;
        height: 100%;
        padding: 0;
    }
    .dsc{
        text-align: left;
    }
    .slidercontrol{
        display: flex;
    }
    .footer{
        font-size:1.5em;
    }
}
#icon1,
#icon0,
#icon2{
    transition: 0.3s;
}
#icon2-h:hover #icon2{
    transform: rotate(30deg);
    color:rgb(221, 97, 14);
    
}
#icon1-h:hover #icon1{
    transform: rotate(30deg);
    color:rgb(221, 97, 14);
    
}
#icon0-h:hover #icon0{
    transform: rotate(30deg);
    color:rgb(221, 97, 14);
    
}


