*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}
body{
    margin:0;
    padding:0;
    
    background-color: black;
    text-shadow: black 0.1em 0.1em 0.2em;
    
    overflow:hidden;
    color:#FFF;
}
.container{
    justify-content: center;
    height:90vh;
    display: flex;
    
}


.content{
    margin:0;
    
    height: 85vh;
    width: 100%;
    position: relative;
    align-items: center;
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    padding: 10vw;
    box-shadow: inset 10px 10px 151px 0px rgba(0,0,0,0.75);

    
}
.description{
    display: flex;
    height: 50%;
    width: 100%;
    padding: 0;
    margin:0;
    text-align: right;
    float: right;
    
    
}
.image {
    height: 50%;
    width: 100%;
    display: flex;
    padding: 0;
    margin:0;
    
    

}
ul{
    justify-content: space-around;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    height: 100%;
}

.footer{
    margin: 0;
    
    width: 100%;
    font-size: 1.5em;
    padding: 10px;
    background-color:#000;
    bottom:0;
    position: absolute;
    color:#FFF;
   
    
    min-height: 15vh;
    max-height: 30vh;
   
}

.dsc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}







.rightbutton
{
    
    background-color: white;
    position: absolute;
    display: block;
    top: 50%;
    transform:translateY(-50%);
    width:5vh;
    height: 5vh;
    right:0%;
    opacity:0.3;
}


.leftbutton{
    left:0%;
    
    background-color: #FFF;
    position: absolute;
    display: block;
    top: 50%;
    transform:translateY(-50%);
    
    width:5vh;
    height: 5vh;
    opacity:0.3;

}
.leftbutton:hover,
.rightbutton:hover{
    opacity:1;
}
.image,
.description
{
    justify-content: space-around;
}
.binder{
    inline-size: -webkit-fill-available;
    position: relative;
    float:right;
}
.contacts{
    
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color:#FFF;
    list-style-type: none;
    text-align: center;
    
}

    
.contactssvg{
    width:1em;
    height:1em;
    viewBox:0 0 16 16;
    fill:currentColor;
    margin-right: 2px;
    vertical-align: middle;
    
    
}
.link{
    text-decoration: none;
    color:#FFF;
}
@media (min-width: 800px){
    .footer{
        
        height: 15vh;
        padding: 10px 10vw;
        
        
        
        
    }
    ul{
        flex-direction: row;
        
    }
}
@media (min-width: 600px){
    .image, .description{
        display: inline-flex;
        width: 50%;
        height: 100%;
        padding: 0;
    }
}



